{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<form action="" method="post">
{% csrf_token %}
<form>

    <div class="form-group" style ="width : 20%; margin: auto;">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group" style ="width : 20%; margin: auto;">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</form>
{% endblock %}